h1 {
    margin: 0;
    padding: 0;
  }
  .popup {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:transparent;
  }
  .popup_inner {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: rgba(255, 255, 255, 0.226);
  }
  .popup_inner_lower {
    position: absolute;
    left: 0%;
    align-content: center;
    text-align: center;
    right: 0%;
    top: 100%;
    bottom: 0%;
    margin: auto;
    background: rgba(2, 182, 167, 0.226);
  }
  .done_message {
    position: fixed;
    width: 30%;
    height: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    

    border-radius: 15px;
    background-color:rgb(173, 207, 207);
    
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 3px grey;
    
  }
  .response_message{
    text-align: center;
    height: 100px;
    line-height: 150px;
    font-size: 150%;
    font-family: initial;
  }
  .popup_inner_lower_message {
    position: absolute;
    left: 0%;
    align-content: center;
    text-align: center;
    right: 0%;
    top: 72%;
    bottom: 0%;
    margin: auto;
  }