h1 {
    margin: 0;
    padding: 0;
  }
  .popup {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:transparent;
  }
  .popup_inner {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background: rgba(255, 255, 255, 0.226);
  }
  .popup_inner_lower {
    position: absolute;
    left: 45%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    margin: auto;
    background: rgba(2, 182, 167, 0.226);
  }